In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import utils

In [3]:
#datainput = pd.read_csv("crop_production.csv", deli)
datainput = pd.read_csv("dataML/crop_production.csv", delimiter = ',')
datainput = datainput.dropna()
datainput

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [4]:
#preprocessing
Production = (datainput.iloc[:,6]).values
Production=Production.reshape(242361,1)
Production

array([[2.00000e+03],
       [1.00000e+00],
       [3.21000e+02],
       ...,
       [1.62500e+04],
       [5.97899e+05],
       [8.80000e+01]])

In [6]:
X = datainput[['State_Name', 'District_Name', 'Crop_Year', 
               'Season','Crop', 'Area']].values
X

array([['Andaman and Nicobar Islands', 'NICOBARS', 2000, 'Kharif     ',
        'Arecanut', 1254.0],
       ['Andaman and Nicobar Islands', 'NICOBARS', 2000, 'Kharif     ',
        'Other Kharif pulses', 2.0],
       ['Andaman and Nicobar Islands', 'NICOBARS', 2000, 'Kharif     ',
        'Rice', 102.0],
       ...,
       ['West Bengal', 'PURULIA', 2014, 'Whole Year ', 'Sugarcane',
        324.0],
       ['West Bengal', 'PURULIA', 2014, 'Winter     ', 'Rice', 279151.0],
       ['West Bengal', 'PURULIA', 2014, 'Winter     ', 'Sesamum', 175.0]],
      dtype=object)

In [8]:
#label encoder to categorical data 
labelencoder_X = preprocessing.LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:, 0])
X[:,1] = labelencoder_X.fit_transform(X[:, 1])
X[:,3] = labelencoder_X.fit_transform(X[:, 3])
X[:,4] = labelencoder_X.fit_transform(X[:, 4])
X

array([[0, 427, 2000, 1, 2, 1254.0],
       [0, 427, 2000, 1, 74, 2.0],
       [0, 427, 2000, 1, 95, 102.0],
       ...,
       [32, 471, 2014, 4, 106, 324.0],
       [32, 471, 2014, 5, 95, 279151.0],
       [32, 471, 2014, 5, 102, 175.0]], dtype=object)

In [9]:
X = X.astype(float)
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(),[0])], remainder='passthrough')   
x2 = columnTransformer.fit_transform(X)
x2

<242361x38 sparse matrix of type '<class 'numpy.float64'>'
	with 1448772 stored elements in Compressed Sparse Row format>

In [18]:
a_train, a_test, b_train, b_test = train_test_split(X, Production, test_size=0.2, random_state=42)

In [20]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor()
clf.fit(a_train, b_train)
from sklearn.metrics import mean_absolute_error

a_pred = clf.predict(a_test)

maerandom = mean_absolute_error(b_pred, b_test)
maerandom
print(maerandom)


from sklearn.metrics import r2_score

print('R2 Score = ',r2_score(b_pred, b_test))

C:\Users\226499\AppData\Local\Temp\ipykernel_81452\3818714434.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(a_train, b_train)

1125065.5777195767
R2 Score =  -13.13045884081949